<div class="row">
    <div class="col border">
            recipe
        <div class="col">
            air
        </div>
    </div>
    <div class="col border">
            fact
        <div class="col">
            quant f
        </div>
    </div>
    <div class="col border">
            output1
        <div class="col">
            quant o1
        </div>
    </div>
    <div class="col border">
            output2
        <div class="col">
            quant o2
        </div>
    </div>
    <div class="col border">
            output3
        <div class="col">
            quant o3
        </div>
    </div>
    <div class="col border">
            input1
        <div class="col">
            quant i1
        </div>
    </div>
    <div class="col border">
            input2
        <div class="col">
            quant i2
        </div>
    </div>
    <div class="col border">
            input3
        <div class="col">
            quant i3
        </div>
    </div>
</div>


