{% extends 'main/base.html' %}
{% load static %}
{% block body %}
<div class="container border">
<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Satisfactory Calc</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="#">Home
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>


<div class="row border">
    <div class="col-auto">
        <form action="" method="post">
            {% csrf_token %}
        <div class="row border">
            <div class="col-auto px-0">
                <button type="submit" class="btn-primary border-0" name="btn-tablet">
                    <img src="{% static 'main/tablet.png' %}" height="40px" class="img" alt="Responsive image" >
                </button>
            </div>
            <div class="col-auto px-0">
                <button type="submit" class="btn-primary border-0" name="btn-newprint">
                    <img src="{% static 'main/newprint.png' %}" height="40px" class="img" alt="Responsive image">
                </button>
            </div>
            <div class="col-auto px-0">
                <button type="submit" class="btn-primary border-0" name="btn-delete">
                    <img src="{% static 'main/delete.png' %}" height="40px" class="img" alt="Responsive image">
                </button>
            </div>

        </div>
        </form>
    </div>
        <div class="col">
        <form action="" method="post">
            {% csrf_token %}
            <div class="row border">
            {% for sand in sandbox.sandbox %}
                {% if sand.craft is None %}
                    <div class="col-auto px-0">
                <button type="submit" class="btn-primary border-0" name="btn-1">
                    <img src="{% static 'main/question.png' %}" height="40px" class="img" alt="Responsive image">
                </button>
            </div>
                {% else %}
                    CRAFT
                {% endif %}
            {% endfor %}
            </div>
        </form>
        </div>
</div>
</div>
{% endblock body %}
