{% extends 'main/base.html' %}
{% load static %}
{% block body %}
    
{{ tool_menu }}
{% include "main/_tool_menu.html" with tool_menu="tool_menu" %}

{% if sandbox.product_line|length != 0 %}
<div class=" row border">
    {{ product_block }}
    {% include "main/_product_block.html" with product_block="product_block" %}
</div>
<div class="row">
    <div class="col-auto border" id="itemlist" style="">
        {{ select_item }}
        {% include "main/_select_item.html" with select_item="select_item" %}
    </div>
    <div class="col border">
        {{ prod_l }}
        {% include "main/_product_line.html" with prod_l="product_line" %}
    </div>
</div>
{% endif %}

{% for line in sandbox.product_line %}
    {{ line }}<br>
{% endfor %}
   asdasdasd 
{% endblock body %}
{% block scripts %}
<script src="{% static 'js/dselect.js' %}"></script>
<script type="text/javascript">
    function buttonrecipelist(){
        let value = document.getElementById("itemlist").style.display;
        if (value){
            document.getElementById("itemlist").style.removeProperty("display");
        } else {
            document.getElementById("itemlist").style.display = "none";
        }
    }
    
    let select_box_element = document.querySelector('#select_box');
    dselect(select_box_element, {
        search: true
    });
</script>

{% endblock scripts %}